@use "@/styles/variables" as *;

body.dark {
  // background
  --bg-main: #{$gray-darkest};
  --bg-header: #{$gray-dark};
  --bg-navbar: #{$gray-medium};
  --bg-card: #{$gray-dark};

  // text
  --text-primary: #{$white};
  --text-secondary: #{$gray-light};
  --text-hint: #{$gray-muted};

  // table
  --table-bg-odd: #{$gray-darkest};
  --table-bg-even: #{$gray-dark};
  --table-row-label: #{$white};

  // button
  --btn-primary: #{$blue};
  --btn-secondary: #{$gray-medium};
  --btn-hover: #{$blue-darker};

  // status
  --status-cancelled: #{$red};
  --status-completed: #{$green};
  --status-wip: #{$orange-amber};
  --status-todo: #{$gray-medium};

  // priority
  --priority-high: #{$red};
  --priority-medium: #{$orange-amber};
  --priority-low: #{$gray-muted};

  // border
  --border-color: #{$gray-light};
  --border-input-color: #{$blue-darker};
}
