@use "@/styles/variables" as *;

body.light {
  // background
  --bg-main: #{$gray-neutral};
  --bg-header: #{$white};
  --bg-navbar: #{$gray-light};
  --bg-card: #{$white};

  // table
  --table-bg-odd: #{$gray-neutral};
  --table-bg-even: #{$white};
  --table-row-label: #{$black};

  // text
  --text-primary: #{$gray-charcoal};
  --text-secondary: #{$gray-medium};
  --text-hint: #{$gray-cool};
  --text-primary-button: #{$white};

  // button
  --btn-primary: #{$blue};
  --btn-secondary: #{$gray};
  --btn-tertiary: #{$blue-light};
  --btn-hover: #{$blue-dark};

  // button text
  --btn-text-primary: #{$white};
  --btn-text-secondary: #{$blue};

  // status
  --status-cancelled: #{$red};
  --status-completed: #{$green};
  --status-wip: #{$orange-amber};
  --status-todo: #{$gray-light};

  // attachment
  --remove-attachment: #{$red};

  // priority
  --priority-high: #{$red};
  --priority-medium: #{$orange-amber};
  --priority-low: #{$gray-muted};

  // border
  --border-color: #{$gray};
  --border-input-color: #{$blue};
}
