$font-family-sans-serif: "Inter", sans-serif;

// black
$black: #000000;

// white
$white: #ffffff;

// gray
$gray-neutral: #f9fafb;
$gray-light: #f3f4f6;
$gray: #e5e7eb;
$gray-muted: #d1d5db;
$gray-cool: #9ca3af;
$gray-medium: #6b7280;

// dark gray
$gray-dark: #1f2937;
$gray-charcoal: #111827;
$gray-darkest: #0f172a;

// blue
$blue-light: #cee1ff;
$blue: #3b82f6;
$blue-dark: #2563eb;
$blue-darker: #1e40af;

// green
$green: #10b981;

// red
$red: #ef4444;

// orange
$orange-amber: #f59e0b;
