// custom styles
@use "@/styles/variables";

// themes
@use "@/styles/themes/light" as *;
@use "@/styles/themes/dark" as *;

body {
  background-color: var(--bg-main);

  font-weight: 500;
}

// fm to indicate custom

.fm-header-theme {
  background-color: var(--bg-header);
  color: var(--text-primary);

  height: 75px;
  padding-inline: 28px;

  // .navbar-brand {
  //   color: #333; // for dark: #ddd;
  // }
}

.fm-navbar-theme {
  background-color: var(--bg-navbar);
  height: 100vh;
  width: 277px !important;

  padding: 27px 15px;

  .nav-link {
    padding: 10px 13px;
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 500;

    border-radius: 10px;

    display: flex;
    justify-content: space-between;
  }

  .nav-link:hover,
  .nav-link.active {
    background-color: var(--btn-primary);
    color: var(--text-primary-button);
  }
}

.fm-page-content {
  padding: 35px 45px;

  width: 100%;

  .fm-filter-bar {
    justify-self: flex-start;
    gap: 60px;

    font-weight: 500;
    font-size: 16px;
  }
}

.fm-mt-35 {
  margin-top: 35px;
}

.fm-badge,
.fm-fs-14 {
  font-size: 14px !important;
}

.fm-fs-12 {
  font-size: 12px;
}

.fm-gap-5 {
  gap: 5px;
}

.fm-gap-20 {
  gap: 20px;
}

.fm-gap-30 {
  gap: 30px;
}

.fm-gap-40 {
  gap: 40px;
}

.fm-gap-42 {
  gap: 42px;
}

.fm-max-h-36 {
  max-height: 36px !important;
}

.fm-w-140 {
  width: 140px;
}

.fm-card {
  background-color: var(--bg-card);
  padding: 26px;
  border-radius: 10px;
}

.fm-modal {
  max-width: 972px;
}

.fm-form-content {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.fm-group-by-none {
  min-height: 734px;
}

.fm-table {
  tbody {
    border: 1px var(--border-color) solid;

    td {
      color: var(--text-primary);
    }

    tr:nth-child(even) > td {
      background-color: var(--table-bg-even) !important;
    }

    tr:nth-child(odd) > td {
      background-color: var(--table-bg-odd) !important;
    }

    .fm-row-label {
      color: var(--table-row-label);
      opacity: 75%;
    }

    .fm-table-actions {
      display: flex;
      gap: 9px;
    }
  }
}

.fm-secondary-icon i,
.fm-secondary-icon span {
  color: var(--text-hint);
}

.fm-page-actions {
  padding: 45px;
  padding-left: 290px;
  display: flex;
  justify-content: space-between;

  i {
    cursor: pointer;
    font-size: 50px;
    color: var(--btn-primary);
  }
}

.fm-completed i {
  color: var(--status-completed);
}

.fm-cancelled i {
  color: var(--status-cancelled);
}

// .fm-button {

// }

.fm-button-primary {
  background-color: var(--btn-primary);
  color: var(--btn-text-primary);
  font-weight: 500;
  border: none;
  border-radius: 10px;
}

.fm-button-secondary {
  background-color: var(--btn-secondary);
  color: var(--btn-text-secondary);
  font-weight: 500;
  border: none;
  border-radius: 10px;
}

.fm-button-tertiary {
  background-color: var(--btn-tertiary);
  color: var(--text-primary);
  border: 1px var(--border-color) solid;
  font-weight: 500;
}
